server {
    listen 9200;

    server_name _;

    large_client_header_buffers 4 16k;

    location / {
        proxy_pass http://localhost:9201;
        proxy_redirect     off;

        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;

        limit_except GET {
            # access control
            auth_basic "elasticsearch";
            auth_basic_user_file "/etc/nginx/esaccess";
        }
    }
}
